{% extends 'main/wrapper.html' %}
{% block content %}
<div class="container bg-white section-padding">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-4">
                <div class="team-card mb-5">
                    <img class="img-fluid" src="{{ object.cook_source.profile_photo.url }}" alt="">
                    <h4 class="mb-0">{{ object.first_name }} {{ object.last_name }}</h4>
                </div>
            </div>
            <div class="heading-section">
                <h2>
                    <span class="subheading">
                        {{ object.cook_source.user.first_name }} {{ object.cook_source.user.last_name }}
                    </span>
                </h2>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    <strong>Образование:<br>{{ object.education }}</strong>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Опыт работы:</strong> {{ object.work_experience }} лет</li>
                    <li class="list-group-item"><strong>История работы:</strong> {{ object.pass_work_place }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}