{% extends 'main/wrapper.html' %}
{% load static %}
{% block content %}
<div class="container py-5">
    <div class="row justify-content-center text-center">
        <div class="col-4">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group text-center">
                    <h3 style="font-weight: bold;">Оставьте отзыв</h3>
                    {{ form }}
                </div>
                <button type="submit" class="btn btn-primary">Добавить Отзыв</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}