{% extends 'main/wrapper.html' %}
{% load static %}
{% block content%}


<div class="container-fluid bg-fixed bg-white section-padding overlay"
    style="background-image: url({% static 'img/login-bg.jpg' %});">
    <div class="row justify-content-around">
        <div class="section-content bg-white shadow py-5 text-center w-25">
            <div class="heading-section">
                <h2>
                    <span class="subheading">
                        Войти
                    </span>
                </h2>
            </div>
            <form method="POST" name="login" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12 mw-100">
                        <div class="form-group">
                            <strong class="ml-1 font-weight-bold">{{ form.username.label_tag }}</strong>
                            <br>
                            {{ form.username }}
                        </div>

                        <div class="form-group">
                            <strong class="ml-1 font-weight-bold">{{ form.password.label_tag }}</strong>
                            <br>
                            {{ form.password }}
                        </div>

                        <div class="form-group">
                            {% if form.errors %}
                            {% for v in form.errors.values %}
                            <div class="alert alert-danger my-2">{{ v }}</div>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <br>
                        <div class="justify-content-center">
                            <button class="btn btn-primary btn-shadow btn-lg" type="submit" name="submit">Войти</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content%}